body{
    background-color: #F9F9F9;
}
h2{
    display: flex;
    justify-content: center;
    margin: 0 auto 30px;
}
.cartBody{
    margin: 60px auto;
    padding-top: 30px;
    width: 100%;
    max-width: 1200px;
    background-color: #ffffff;


}
.cart-thead{
    margin: 10px auto;
    width: 80%;
    height: 80%;
    max-height: 50px;
    min-height: 30px;
    max-width: 960px;
    background-color: #659DE1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding:auto 3px;
}

.item-card{
    max-width: 932px;
    width: initial;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    /* display: flex; */
    /* justify-content:stretch; */
    margin:15px auto;
    color:#0065B4;


}

.outlineChoose{
    background-color: transparent;
    border: 1px solid #002875;
    padding:8px 15px;
    color:#002875;
    border-radius: 3px;
}
.outlineChoose:hover{
    background-color: #0065B4;
    color:#ffffff;
    border:1px solid #0065B4;
}