/* Bgc */
.usersCreaditCardEditBgc {
    width: 1200px;
    height: 900px;
    background-color: #f9f9f9;
    padding-top: 30px;
    margin: 10px auto;
  }
  /* title */
  .memberTextTitle {
    color: #0065b4;
    font-size: 24px;
    font-family: Noto Sans TC;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  /* 表格 */
  
  .usersCreaditCardEditdiv {
    color: #0065b4;
    font-size: 20px;
    font-family: Noto Sans TC;
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  .usersCreaditCardEditTitle {
    width: 1000px;
    background-color: #0065b4;
    height: 50px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .usersCreaditCardEditText {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #0065b4;
  }
  
  .usersCreaditCardEditInp > input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    width: 200px;
    height: 40px;
    margin-left: 20px;
  }
  .usersCreaditCardEditInp > input:hover {
    background-color: rgb(190, 188, 188);
  }
  
  .usersCreaditCardEditBtnAdd button {
    width: 90px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  