/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
li,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* /////////常用工具////////////// */
body {
  background-color: #f9f9f9;
}

li {
  list-style-type: none;
}
.d-flex {
  display: flex;
}

/* .fontsize-20 {
  font-size: 20px;
}


.py-15 {
  padding: 15px 0;
} */

/* 
.fontsize60 {
  font-size: 60px;
}

.mb-20 {
  margin-top: 20px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-20 {
  padding-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}



.align-center {
  align-items: center;
}

/*container    rwd*/
@media screen and (max-width: 1920px) {
  .container {
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
  }
  .container-1 {
    max-width: 1200px;
    margin: 0 auto;
  }
  /* /////////////////// */
  /*主視覺畫面*/

  .herro-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .img-wrap {
    display: flex;
    width: 9600px;
    transform: translateX(0px);
    height: 100%;
    z-index: -5;
  }

  .onepage-pic {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .onepage-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* /頁碼數字/ */
  .slider-dots {
    color: #0065b4;
    display: flex;
    position: absolute;
    font-size: 16px;
    bottom: 9%;
    right: 17%;
    z-index: 3;
  }
  .dot {
    margin: 0 16%;
  }
  /* ////手機板的herrosection消失////// */
  .phone-herro-section {
    display: none;
  }
  /* ////手機板的herrosection消失////// */
  .phone-onepage-pic {
    display: none;
  }
  /* ///herro文字////// */
  .herro-text {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 6%;
    left: 3%;
    font-size: 48px;
    color: #f9f9f9;
    z-index: 4;
  }

  /* /這是輪播軸每一頁的的按紐/ */
  .one-herro-button-left,
  .one-herro-button-right,
  .two-herro-button-left,
  .two-herro-button-right,
  .three-herro-button-left,
  .three-herro-button-right,
  .four-herro-button-left,
  .four-herro-button-right,
  .five-herro-button-left,
  .five-herro-button-right {
    width: 110px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid #002875;
    position: absolute;
    bottom: 25%;
    right: 35%;
    z-index: 2;
  }
  .one-herro-button-right {
    bottom: 25%;
    right: 25%;
  }
  .two-herro-button-left {
    bottom: 40%;
    right: 30%;
  }
  .two-herro-button-right {
    bottom: 40%;
    right: 40%;
  }
  .two-herro-button-left {
    bottom: 30%;
    right: 15%;
  }
  .two-herro-button-right {
    bottom: 30%;
    right: 25%;
  }
  .three-herro-button-left {
    bottom: 45%;
    right: 40%;
  }
  .three-herro-button-right {
    bottom: 45%;
    right: 50%;
  }
  .four-herro-button-left {
    bottom: 45%;
    right: 40%;
  }
  .four-herro-button-right {
    bottom: 45%;
    right: 50%;
  }
  .five-herro-button-left {
    bottom: 45%;
    right: 40%;
  }
  .five-herro-button-right {
    bottom: 25%;
    right: 25%;
  }
  .one-herro-button-left > a,
  .one-herro-button-right > a,
  .two-herro-button-left > a,
  .two-herro-button-right > a,
  .three-herro-button-left > a,
  .three-herro-button-right > a,
  .four-herro-button-left > a,
  .four-herro-button-right > a,
  .five-herro-button-left > a,
  .five-herro-button-right > a {
    color: #002875;
    text-decoration: none;
  }
  /* /這是重疊在輪播軸上的矩形/ */
  .onepage-rectangle {
    transform: translateX(-360px);
    width: 40%;
    height: 10%;
    background-color: #659de1;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .phone-herro-text {
    display: none;
  }
  /* ///////////////////////////// */
  /* //第二頁/ */
  .two-section {
    width: 92%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-bottom: 192px;
    position: relative;
  }

  .two-colorship img {
    width: 90%;
  }

  .twopage-pic {
    width: 85%;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 170px;
  }
  .twopage-pic img {
    width: 100%;
  }

  .twopage-pic-bg {
    margin-left: auto;
    background: url('./img/twosection.jpg') center center no-repeat;
    min-height: 700px;
    background-attachment: fixed;
    background-size: cover;
    max-width: 95%;
  }

  .cardtwo {
    width: 40%;
    height: 50%;
    background-color: #f9f9f9;
    position: absolute;
    box-shadow: 3px 5px 8px #0029758e;
    left: -2%;
    bottom: -3%;
    z-index: 3;
    text-align: center;
    padding-top: 50px;
  }
  .chartbox-icon {
    padding-top: 4px;
    padding-left: 7px;
    width: 40px;
    height: 22px;
    fill: #f9f9f9;
  }
  .chart-box {
    background-color: #ff5554;
    border-radius: 2px;
    width: 45px;
    height: 45px;
    right: 0;
    top: 25%;
    z-index: 6;
    display: none;
  }

  .fontsize34-group > .fontsize34 {
    font-size: 34px;
    padding-top: 15px;
  }

  .button-blue-left {
    width: 110px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    padding: 10px 0;
    border: 2px solid #002875;
    position: absolute;
    bottom: 16%;
    left: 28%;
    z-index: 2;
  }

  .button-blue-right {
    width: 110px;
    height: 40px;
    border-radius: 40px;
    justify-content: center;
    padding: 10px 0;
    border: 2px solid #002875;
    position: absolute;
    bottom: 16%;
    z-index: 2;
    right: 28%;
  }

  .button-blue-right a,
  .button-blue-left a {
    color: #002875;
    font-size: 16px;
    text-decoration: none;
  }

  .twopage-rectangle {
    width: 30%;
    height: 35%;
    background-color: rgba(9, 55, 121, 0.486);
    box-shadow: 0 0 5px 3px rgba(9, 55, 121, 0.486);
    position: absolute;
    bottom: -5%;
    left: -4%;
    z-index: 1;
  }
  .twopic-big-text {
    font-size: 34px;
    padding: 2% 0;
  }

  /* ////第二頁圖片消失///// */
  .phone-twopage-pic {
    display: none;
  }
  /* ////第二頁圖片消失///// */
  .phone-long-colorship {
    display: none;
  }
  /* /////////////////////////////////////// */
  /* //第三頁////// */
  .threepage-pic {
    width: 100%;
  }
  .threepage-pic > img {
    width: 100%;
  }

  .three-section {
    max-width: 100%;
    position: relative;
    overflow: hidden;
  }
  .threepage-pic-bg {
    background: url('./img/threesection-bg.jpg') center center no-repeat;
    min-height: 1250px;
    /* background-attachment: fixed;
    background-size: cover; */
    width: 100%;
  }
  .phone-three-pic {
    display: none;
  }

  .three-content {
    width: 50%;
    position: absolute;
    top: 5%;
    left: 18%;
    color: #f9f9f9;
  }

  .newproduct-text {
    font-size: 34px;
    position: absolute;
    bottom: 55%;
    left: 26%;
    color: #f9f9f9;
  }
  .border-bottom-white {
    position: relative;
    left: 0px;
    width: 60px;
    height: 20px;
    border-bottom: 3px solid #f9f9f9;
  }
  /*在文字下面放線*/
  .border-bottom-blue {
    position: relative;
    left: 0px;
    width: 60px;
    height: 20px;
    border-bottom: 3px solid #85d1f5;
  }

  .button-black {
    position: absolute;
    border-radius: 40px;
    bottom: 56%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 234px;
    background-color: #9494943f;
  }
  .button-black > a {
    color: #f9f9f9;
    text-decoration: none;
  }
  .bbb {
    max-width: 1920px;
    height: 600px;
    position: relative;
    z-index: 100;
    overflow: hidden;
  }
  .box {
    max-width: 1920px;
    display: flex;
    height: 600px;
    position: absolute;
    z-index: 2;
    bottom: 0%;
    left: 26%;
    right: -35%;
  }

  .box1 {
    height: 100%;
    width: 20%;
    margin-right: 20px;
  }

  .box1-pic {
    width: 100%;
    height: 70%;
  }
  .box1 img {
    width: 100%;
    height: 100%;
  }

  .item-1 {
    width: 100%;
    padding: 0 1%;
    height: 30%;
  }

  .item-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 24px;
    margin-bottom: 12px;
  }
  .threepic-small-text {
    font-size: 16px;
    padding: 0 3%;
  }
  .threepic-big-text {
    font-size: 60px;
    margin-bottom: 2%;
  }
  .product-card-text1 {
    font-size: 16px;
  }
  .product-card-text2 {
    font-size: 14px;
    padding-bottom: 24px;
  }
  .product-card-text3 {
    font-size: 14px;
    padding-bottom: 18px;
  }

  .card-button {
    border-radius: 40px;
    padding: 8px 0;
    text-align: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border: 2px solid #659de1;
  }

  .best-selling-group {
    margin-top: 5%;
    color: #002875;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-blue-bg {
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    border: 2px solid #659de1;
  }
  .button-blue-bg a {
    color: #659de1;
    text-decoration: none;
  }

  .button-click {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 24%;
    display: flex;
  }
  .button-box-left,
  .button-box-right {
    width: 50px;
    height: 50px;
    display: flex;
    padding-top: 3px;
    justify-content: center;
    align-items: center;
    background-color: #0065b4;
    margin: 0 2%;
    border-radius: 5px;
  }

  .button-box-left {
    padding-right: 5px;
  }
  .button-box-right {
    padding-left: 5px;
  }
  .button-icon {
    width: 35px;
    height: 40px;
    fill: #f9f9f9;
    margin: 0 1%;
  }

  /* //////////////////////////////////// */
  /* ////第四頁//// */

  .button-blue-bg {
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    border: 2px solid #659de1;
  }
  .button-blue-bg a {
    color: #659de1;
    text-decoration: none;
  }

  .best-selling-item {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 600px;
    margin-top: 60px;
    margin-bottom: 260px;
  }
  .box2 {
    width: 25%;
  }
  .box2-pic {
    width: 100%;
    height: 90%;
  }
  .box2-pic img {
    width: 100%;
    height: 100%;
  }
  .box2-group {
    width: 100%;
  }

  .box3 {
    width: 25%;
    margin-top: 100px;
  }
  .box4 {
    width: 25%;
  }
  .box5 {
    width: 25%;
    margin-top: 100px;
  }

  .four-rectangle {
    width: 100%;
    height: 570px;
    background-color: #f0ecd7;
    position: absolute;
    bottom: -36%;
    z-index: -1;
  }
  .top-box {
    background-color: #ff5554;
    color: #f9f9f9;
    width: 45px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 0;
    z-index: 5;
    bottom: 1%;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .container {
    width: 100%;
  }
  .container-1 {
    max-width: 576px;
    margin: 0 auto;
  }

  .nav > .three-gp-flex {
    display: none;
  }
  /* ///手機板數字隱藏/ */
  .slider-dots {
    display: none;
  }

  /*container  herosection */
  .herro-section {
    display: none;
  }
  .phone-herro-section {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: auto;
    position: relative;
    margin-bottom: 15%;
  }
  .onepage-pic {
    display: none;
  }
  .phone-onepage-pic {
    display: block;
    width: 100%;
    height: 100%;
  }
  .phone-onepage-pic img {
    width: 100%;
    height: 100%;
  }
  .herro-text {
    display: none;
  }

  .phone-herro-text {
    display: flex;
    align-items: center;
    position: absolute;
    left: 3%;
    color: #f9f9f9;
    z-index: 4;
    bottom: 2%;
    font-size: 24px;
  }

  .one-herro-button-left {
    margin-top: 5px;
    width: 60%;
    height: 7%;
    border-radius: 40px;
    padding: 20px 0;
    text-align: center;
    border: 2px solid #f9f9f9;
    position: absolute;
    bottom: 35%;
    margin-bottom: 5px;
    right: 23%;
    z-index: 2;
  }

  .one-herro-button-right {
    width: 60%;
    height: 7%;
    border-radius: 40px;
    text-align: center;
    padding: 20px 0;
    border: 2px solid #f9f9f9;
    position: absolute;
    bottom: 25%;
    right: 23%;
    z-index: 2;
  }
  .one-herro-button-left > a,
  .one-herro-button-right > a {
    color: #f9f9f9;
    text-decoration: none;
  }

  .onepage-rectangle {
    width: 70%;
    position: absolute;
    bottom: -5%;
  }

  /* ///////////////////////////// */
  /* //第二頁// */
  .two-section {
    width: 100%;
    height: 100%;
    margin-bottom: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .two-colorship {
    display: none;
  }
  .twopic-big-text {
    font-size: 12px;
    padding: 2% 0;
  }

  .twopage-pic {
    display: none;
  }
  .twopage-pic > img {
    display: none;
  }
  /*手機顯示第二頁圖片*/
  .phone-twopage-pic {
    display: block;
  }
  .phone-twopage-pic {
    width: 100%;
  }
  .phone-twopage-pic > img {
    width: 100%;
    height: 100%;
  }

  .cardtwo {
    width: 70%;
    height: 45%;
    background-color: #f9f9f9;
    position: absolute;
    box-shadow: 3px 5px 8px #0029758e;
    bottom: -30%;
    left: -35%;

    z-index: 3;
    text-align: center;
    margin-bottom: 50px;
  }

  .fontsize34-group > .fontsize34 {
    font-size: 16px;
    padding-top: 6px;
  }

  .button-blue-left {
    display: none;
  }

  .button-blue-right {
    display: flex;
    align-items: center;
    width: 30%;
    height: 13%;
    border-radius: 40px;
    justify-content: center;
    padding: 12px 0;
    border: 2px solid #002875;
    position: absolute;
    bottom: 10%;
    z-index: 2;
    right: 25%;
  }

  .button-blue-right a {
    color: #002875;
    text-decoration: none;
  }

  .twopage-rectangle {
    display: none;
  }
  /*隱藏電腦版二頁矩形
    */
  .twopage-rectangle {
    display: none;
  }

  /*隱藏電腦版二頁頁圖片*/
  .twopage-pic {
    display: none;
  }
  .twopage-pic-bg {
    display: none;
  }
  .threepage-pic-bg {
    display: none;
  }

  .phone-long-colorship {
    display: block;
    margin-bottom: 60px;
  }

  .phone-long-colorship img {
    width: 70%;
    height: 20px;
  }
  /* /////////////////////////////////////////////// */
  /* //第三頁/// */

  .three-section {
    width: 100%;
    height: 100%;
    position: relative;
  }
  /*桌機板的圖要隱藏掉*/
  .threepage-pic {
    display: none;
  }

  /*在桌機隱藏 在手機出現的圖*/
  .phone-three-pic {
    width: 100%;
    height: 100%;
    display: block;
  }
  /*在桌機隱藏 在手機出現的圖*/
  .phone-three-pic > img {
    width: 100%;
    height: 50%;
  }
  /*重疊在圖片上的文字*/
  .three-content {
    width: 70%;
    position: absolute;
    left: 6%;
    color: #f9f9f9;
  }
  .threepic-big-text {
    font-size: 34px;
  }

  .threepic-small-text {
    font-size: 16px;
    padding: 0 3%;
  }

  .newproduct-text {
    position: absolute;
    bottom: 45%;
    left: 4%;
    font-size: 16px;
    color: #f9f9f9;
  }
  .border-bottom-white {
    position: relative;
    left: 0px;
    width: 60px;
    height: 20px;
    border-bottom: 3px solid #f9f9f9;
  }

  .border-bottom-blue {
    position: relative;
    left: 0px;
    width: 60px;
    height: 20px;
    border-bottom: 3px solid #659de1;
  }

  .button-black {
    display: none;
  }
  /* ////手機板phone點擊按鈕的card /// */
  .phone-threesection-click-card {
    display: block;
    width: 100%;
    height: 450px;
    /* margin-bottom: 330px; */
    position: relative;
    overflow: hidden;
  }

  .box {
    width: 960px;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  .box1 {
    height: 100%;
    width: 20%;
    margin: 0 0.5%;
  }

  .box1-pic {
    width: 100%;
    height: 60%;
  }
  .box1 img {
    width: 100%;
    height: 100%;
  }

  .item-1 {
    width: 100%;
    padding: 0 10px;
    height: 40%;
  }

  .item-2 {
    width: 100%;
    padding-right: 4px;
    padding-top: 10px;
    margin-bottom: 16px;
  }
  .card-button {
    border-radius: 40px;
    padding: 8px 0;
    text-align: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border: 2px solid #659de1;
  }

  .long-colorship {
    width: 60%;
    height: 15px;
    margin-bottom: 30px;
  }
  .long-colorship img {
    width: 100%;
    height: 100%;
  }
  .button-click {
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 27%;
    display: flex;
  }
  /* /////////////////////////////////////////////// */
  /* 第四頁 */
  .best-selling-group {
    font-size: 16px;
    padding: 0 2%;
  }

  .button-blue-bg {
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: 2px solid #659de1;
  }
  .button-blue-bg a {
    color: #659de1;
    text-decoration: none;
  }

  .best-selling-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 98%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .box2 {
    width: 49%;
  }
  .box2-pic {
    width: 100%;
    height: 60%;
  }

  .box2-pic img {
    width: 100%;
    height: 100%;
  }
  .box2-group {
    width: 100%;
  }

  .box3 {
    width: 49%;
    height: 100%;

    margin-top: 40px;
  }
  .box4 {
    width: 49%;
    height: 100%;
  }
  .box5 {
    width: 49%;
    height: 100%;

    margin-top: 40px;
  }

  .four-rectangle {
    width: 100%;
    height: 30%;
    background-color: #fcf5e9;
    position: absolute;
    bottom: -1%;
    z-index: -1;
  }
}
