.about-content-group {
}
@media screen and (max-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
  }
  .container-1 {
    margin: 0 auto;
    max-width: 1200px;
  }
  /* //////最外層//// */
  .about-big-group {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  /* //////上層///////// */
  .herro-section-top-group {
    width: 100%;
    height: 100px;
    display: flex;
  }

  .about-titlebox {
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fcf5e9;
    border-bottom: 10px #659de198 solid;
  }

  /* //////下層///////// */
  .herro-section-bottom-group {
    overflow: hidden;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: darkgray;
  }

  .carousel-pic {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 500px;
  }
  .carousel-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ////輪播軸的最長寬////////// */
  .about-img-wrap {
    display: flex;
    width: 4800px;
    /* transform: translateX(0px); */
    height: 100%;
    /* z-index: -5; */
  }
  /* //////////////////////// */
}
