.about-content-group {
}
@media screen and (max-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
  }
  .container-1 {
    margin: 0 auto;
    max-width: 1200px;
  }
  .about-content-group {
    background: #fcf5e9;
    width: 100%;
    height: 500px;
    display: flex;
  }
  .about-titlebox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    background: #fcf5e9;
    border-bottom: 10px #659de198 solid;
  }
  .about-box-title1 {
    border-bottom: 10px #ff5554 solid;
  }
  .about-box-title2 {
  }
  .about-box-title3 {
  }
  .about-box-title4 {
  }
}
