/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

li {
  list-style-type: none;
}

.fontsize-20 {
  font-size: 20px;
}

.mt-30 {
  margin-top: 30px;
}
.py-15 {
  padding: 15px 0;
}
.mb-20 {
  margin-top: 20px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-20 {
  padding-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.fontsize16 {
  font-size: 16px;
}

.d-flex-columm {
  display: flex;
  flex-direction: column;
}
.d-flex {
  display: flex;
}

/*container    rwd*/
@media screen and (max-width: 1920px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;

    position: relative;
  }
  .container-1 {
    margin: 0 auto;
    max-width: 1200px;
  }
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .container-1 {
    margin: 0 auto;
    max-width: 100%;
  }
}

/*footer的背景 rwd*/
@media screen and (max-width: 1920px) {
  .footer-bg {
    width: 100%;
    height: 460px;
    background-color: #0065b4;
    color: #f9f9f9;
    text-decoration: none;
  }

  /*footer的群組*/
  .footer-group {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding-top: 70px;
  }

  .footer-left {
    width: 25%;
  }
  .footer-center {
    width: 60%;
  }
  .footer-right {
    width: 15%;
  }

  .four-information {
    display: flex;
  }
  .four-information a {
    color: #f9f9f9;
    text-decoration: none;
  }

  .footer-icon {
    display: flex;
  }

  .phone-footer-icon {
    display: none;
  }

  .map,
  .coffee,
  .product,
  .partner {
    width: 25%;
  }

  .logo2 {
    width: 20%;
    width: 170px;
    height: 50px;
  }

  .footer-left > ul > li {
    padding-bottom: 15px;
  }
  .map > ul > li {
    padding-bottom: 15px;
  }

  .coffee > ul > li {
    padding-bottom: 15px;
  }
  .product > ul > li {
    padding-bottom: 15px;
  }
  .partner > ul > li {
    padding-bottom: 15px;
  }

  .footer-right > a {
    padding-bottom: 15px;
  }
  /*.button-w =白色方形按鈕*/
  .button-w {
    text-align: center;
    padding: 10px 0;

    width: 210px;
    height: 40px;

    color: #f9f9f9;
    border: 2px solid #f9f9f9;
  }
  .button-w > a {
    text-decoration: none;
    color: #f9f9f9;
  }
  /*手機板的文字*/
  .phone-item {
    display: none;
  }

  /*手機板的logo*/
  .phone-logo {
    display: none;
  }

  .copyright {
    text-align: center;
    margin-top: 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .footer-bg {
    width: 100%;
    height: 460px;
    background-color: #0065b4;
    color: #f9f9f9;
    text-decoration: none;
  }
  /*footer的群組*/
  .footer-group {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /*手機板的圖片*/
  .phonelogo2 {
    width: 60%;
    height: 40px;
    margin-bottom: 15px;
  }
  .phonelogo2 > img {
    width: 100%;
    height: 100%;
  }

  .map,
  .coffee,
  .product,
  .partner {
    display: none;
  }

  .logo2 {
    display: flex;

    width: 150px;

    height: 100%;
  }
  .logo2 > img {
    width: 100%;

    height: 100%;
  }
  .footer-left {
    display: none;
  }
  .footer-icon {
    display: none;
  }

  .phone-footer-icon {
    display: flex;
  }

  /*.button-w =白色方形按鈕*/
  .button-w {
    text-align: center;
    padding: 10px 0;

    width: 210px;
    height: 40px;

    color: #f9f9f9;
    border: 2px solid #f9f9f9;
  }
  .button-w > a {
    text-decoration: none;
    color: #f9f9f9;
  }
  /*手機板的文字*/
  .phone-item {
    display: block;
  }

  /*手機板的logo*/
  .phone-logo {
    display: block;
  }

  .copyright {
    text-align: center;
    margin-bottom: 100px;
  }
}
