.memberTextTitle {
    color: #0065b4;
    font-size: 24px;
    font-family: Noto Sans TC;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  .memberConnect {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid #0065b4;
    margin-bottom: 60px;
  }
  .memberConnect > a {
    color: #0065b4;
    font-size: 30px;
    width: 200px;
    font-family: Noto Sans TC;
    text-decoration: none;
  }
  .userConsumptionF,
  .userConsumptionOrderBy,
  .userConsumptionSearch {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    color: #0065b4;
    font-size: 16px;
    font-family: Noto Sans TC;
  }
  .userConsumptionSearch {
    margin-left: 50px;
  }
  .userConsumptionSearch > label {
    width: 50px;
  }
  .userConsumptionOrderBy > label {
    width: 80px;
  }
  
  .userConsumptionOrderBy > label,
  .userConsumptionSearch > label {
    display: block;
    height: 35px;
    padding-top: 6px;
  }
  .userConsumptionOrderBy > select,
  .userConsumptionSearch > input {
    width: 200px;
    height: 35px;
  }
  .userConsumptionOrderByText {
    margin-left: 90px;
    font-size: 12px;
  }
  /* 表格 */
  
  .UserConsumptiondiv {
    color: #0065b4;
    font-size: 20px;
    font-family: Noto Sans TC;
    width: 1100px;
    margin: 20px auto;
    text-align: center;
  }
  .UserConsumptionFlex {
    background-color: #0065b4;
    height: 50px;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .UserConsumptionText {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 1100px;
    height: 150px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    border-bottom: 1px solid #0065b4;
  }
  .UserConsumptionId {
    width: 130px;
    margin-left: 5px;
  }
  .UserConsumptionPicture > img {
    width: 100%;
    height: 100%;
  }
  .UserConsumptionPicture {
    width: 125px;
    height: 125px;
    margin-left: 35px;
    margin-right: 35px;
  }
  .UserConsumptionName {
    width: 100px;
    margin-right: 40px;
  }
  .UserConsumptionSpec {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 40px;
    border: 1px solid #0065b4;
    border-radius: 25px;
    margin-right: 55px;
  }
  .UserConsumptionQty {
    text-align: center;
    font-size: 16px;
    width: 80px;
    border-bottom: 1px solid #0065b4;
    margin-right: 75px;
  }
  .UserConsumptionSpecialoffer {
    width: 72px;
    opacity: 50%;
    font-size: 16px;
    text-decoration: line-through;
  }
  .UserConsumptionTotal {
    margin-left: 72px;
    margin-right: 40px;
    width: 50px;
  }
  
  .UserConsumptionPage{
    width: 1100px;
    height: 40px;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
  }
  .UserConsumptionPage div{
    margin-right: 40px;
  }